* {
    box-sizing: border-box;
}

body {
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 400px;
    background: rgb(230, 230, 230) !important;    
}

.Clearify::after {
    content: "";
    display: table;
    clear: both;
}

.MainLeft {
    float: left;
    margin-left: 15px;
}

.MainRight {
    float: right;
}


.AbsolutCont {
    position: relative;
    max-width: 99%;
    margin: 0 auto;
   
}

.tableClass {
    max-width: 94.5wv;
    overflow: hidden;
    overflow-x: scroll;
    display: block;
}


div#container {
    width: 98%;
    position: relative;
    padding: 40px;
    margin: 0 auto;
    background-size: cover;
    background: rgb(230, 230, 230) url('images/paper-pattern.jpg') top left repeat;
    box-shadow: 0 10px 15px -8px #000;
    border-bottom: 5px solid red;
}

.ConatainerREAdj {
    max-width: 97wv;
    margin: 0 auto;
    padding: 0;
}

.ClaArticle {
    max-width: 1100px;
    margin: auto;
}

.MaxTop {
    max-width: 98wv;
}

p.head {
   margin-top: 0px;
}

.headSpan {
    margin-right: auto 100px;
}

.HeadSpan1 {
    position: relative;
    left: -20px;
}

p#capP {
    font-size: 25px;
    margin-bottom: -1px;
}

h1 {
    position: relative;
    top: -4px;
}



header {
    text-align: center;
}

hr {
    position: relative;
    top: -8px;
}

.realign {
    max-width: 290px;
    position: relative;
}

.pPara {
    width: 280px;
    margin-bottom: 15px;
}

.Restru, .joePixCont {
    width: 500px !importan;
}

/*
.Restru {
    max-width: 9wv;
}
*/

.joePix {
    position: relative;
    left: -15px;
    display: block;
}

.clearB {
    margin-bottom: 25px;
}


.JoinRe {
    margin-bottom: 15px;
}

h4 {
    font-size: 20px;
    margin-bottom: 7px;
    border-bottom: solid 3px #222;
    display: inline-block;
}

.spanInfo {
    font-weight: bold;
}

.spanRight {
    margin-left: 15px;
}

#InfoCont {
    text-align: left;
}

.infos {
    max-width: 1100px;
}

.PixAside, {
    max-width: 1100px;
    margin: auto;
}

table {
    
    border-collapse: collapse;
    margin-top: 10px;
    padding-top: 5px;
}

td, th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

td.tdBlank {
    text-align: center;
    background-color: #ddd;
}

.RefRow {
    margin-left: -16px;
}

.resetSection {
    margin: 10px 0 30px;
    padding-top: 5px;
}

.imageRe {
    width: 270px;
    height: 323px;
    padding: 5px;
    margin: auto;
}

.imageCircleRL {
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
}

.imageCircle {
    border-radius: 100%;
}

.imageedge1 {
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.imageedge2 {
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

#hidepictures, #closeGallery {
    display: none;
}

.h4pics {
    margin-bottom: 10px;
}

.ButtonResize {
    max-width: 1100px;
    margin: auto;
}

.RepostBut {
    margin: auto;
}

button {
    background: #6c2726;
    color: white;
    border: none;
    border-bottom: solid 4px #222;
    text-transform: uppercase;
    font-size: 18px;
    padding: 20px 30px;
    max-width: 100%;
}

button:hover {
    background: #4c2827;
    border-bottom-color: #111;
}

button:active {
    position: relative;
    top: 1px;
}



footer {
    text-align: right;
    position: relative;
    top: 15px;
    right: -37px;
    max-width: 100wv;
    }

small {
    position: relative;
    top: 30px;
}

/*MEDIA QUERY*/
@media screen and (max-width: 1150px) {
    * {
        box-sizing: border-box;
    }
    
    .ConatainerREAdj {
        position: relative;
        right: 10px;
        padding-right: 5px;
    }
    
    .realign {
        position: relative;
        left: 160px;
    }
}
  
@media screen and (max-width: 558px) {
    
    .adjust {
        margin-top: 30px;
    }
    
    div#container {
    width: 98%;
    position: relative;
    left: 2px;
    top: 10px;
    padding: 20px;
    
}
    .PixAside {
        margin-left: 30px;
    }
    
    .PixMe {
        position: relative;
        left: 10px;
        max-width: 100wv;
        margin: auto 0;
    }
    
    .resetSection {
        margin-left: 15px;
    }
}


@media screen and (max-width: 755px) and (min-width: 620px) {
    .MainRight {
        margin-top: 
    }
    
    .Clearify{
      
        margin-bottom: 30px;
    }
    
    .joePix {
        width: 200px;
        height: 200px;
        border-radius: 100%;
        position: relative;
        top: 28px;
    }
}

@media screen and (max-width: 610px) {
    .joePix {
        width: 150px;
        height: 150px;
        border-radius: 100%;
        position: relative;
        top: 1px;
        left: -1px;
    }
    
    .MainRight {
        float: left;
    }
    
    .MainLeft {
        float: right;
    }
    
    .Clearify {
        height: 430px;
    }
}
